<?xml version="1.0"?>

<launch>
	<node pkg="imu_parser" type="imu" name="imu" output="screen"  respawn="true">
		<param name="frame_id"  				type="string" value="imu" />
		<param name="linear_acceleration_stdev" type="double" value="0.0" />
		<param name="orientation_stdev" 		type="double" value="0.0" />
		<param name="angular_velocity_stdev" 	type="double" value="0.0" />    
	</node>
</launch>
