 <launch>
	<node pkg="raposang_slam" name="raposang_slam" type="raposang_slam_node" output="screen">
	 
		<remap from="input_imu"          			to="/imu/data"/>
		<remap from="input_odo"     					to="/raposang/odometry"/>
		<remap from="input_image"     				to="/bb2/triclops/left/image"/>
		<remap from="input_feat"     					to="/raposang/features"/>
																							
		<param name="image_size_x" 								value="640"  		/>
		<param name="image_size_y" 								value="480"  		/>
																							
		<param name="focal_lenght_x" 							value="285.06625"  		/>
		<param name="focal_lenght_y" 							value="285.06625" 		/>
																							
		<param name="image_center_x" 							value="319.86560"  		/>
		<param name="image_center_y" 							value="254.90784"  		/>
																													
		<param name="frameid_map" 								value="/world"  		/>	
		<param name="frameid_robot" 							value="/raposang_pose" />	
																													
		<param name="use_imu" 										value="true"  		/>	
		<param name="use_odo" 										value="true"  		/>	
																													
		<param name="use_feat" 										value="true"  		/>			
			<param name="with_stereo" 							value="true"  		/>	
			<param name="with_mono" 								value="true"  		/>				
			<param name="random_feats" 							value="true"  		/>		
			<param name="scale_stereo_str" 					value="1.0"  		/>		
																												
		<param name="calibrate_imu"             	value="false" 		/>
																												
		<param name="do_predict" 									value="true"  		/>			
		<param name="do_update" 									value="true"  		/>		
		
		<param name="arm_angle_always_zero"  			value="false" 		/>	
		<param name="reads_per_second"      			value="60" 	  		/>	

		<param name="publish_per_second"      		value="2.0" 	  		/>	

		<param name="max_features"      		  		value="80" 	 		/>	
		<param name="min_features_per_frame"	  	value="10" 	 		/>	
	 	<param name="min_dist"      		  				value="20.0" 	  	/>	

		<param name="image_scale"  								value="1.0" 		/>

		<param name="wheel_distance"							value="0.42" />
		<param name="use_gyro_only"  							value="true" 		/>
		<param name="center_to_lens"  						value="0.06" 		/>
		
		<param name="feature_removal"  						value="true" 		/>	
		<param name="removal_gain"  							value="0.8" 		/>
		<param name="removal_threshold"  					value="0.01" 		/>

		<param name="feature_detector" 						value="orb"  		/>		
		
		<param name="surf_extended_descriptors" 	value="false"  		/>							
		<param name="surf_hessian_threshold"    	value="1000.0" 	/>
		<param name="surf_nr_octaves"      		  	value="2" 	  		/>							
		<param name="surf_nr_octave_layers"     	value="3" 	 		/>

		<param name="init_std_lin_vel"  					value="0.0" 		/>
		<param name="init_std_ang_vel"  					value="0.0" 		/>
		<param name="init_std_inv_depth"  				value="0.25" 		/>		
			
		<param name="init_inv_depth"     					value="0.5" 		/>				
	
		<param name="std_lin_acc" 								value="0.5" 		/>
		<param name="std_ang_acc" 								value="0.5" 		/>

		<param name="std_wheel_vel" 							value="0.1" 		/>			
		<param name="std_arm" 										value="0.1" 		/>					
		<param name="std_imu_vel" 								value="0.05" 		/>
		
		<param name="std_pixel"   								value="1.0" 		/>
		
	</node>	
	
		
 </launch>
