<launch>

  <node pkg="microstrain_3dmgx2_imu" name="microstrain_3dmgx2" type="imu_node">
    <param name="port"  								 type="string" 	value="/dev/ttyUSBimu" />
    <param name="time_offset" 					 type="double"	value="-0.040" />
    <param name="autostart" 						 type="bool" 		value="true" />
    <param name="frameid"  							 type="string" 	value="imu" />
    <param name="autocalibrate" 				 type="bool" 		value="false" />
    <param name="angular_velocity_stdev" type="double" 	value="0.00017" />
  </node>z
  
</launch>

