<launch>

		<node pkg="raposang_wrap920" name="raposang_wrap920_driver" type="raposang_wrap920_node" args="/dev/wrap920" />
		<node pkg="raposang_wrap920" name="raposang_wrap920_control" type="monitor" cwd="node" />
		<!--node pkg="raposang_v_pantilt" name="v_pantilt" type="virtual_pantilt" cwd="node" /-->
		<include file="$(find raposang_v_pantilt)/launch/launchWithBagFiles.launch" /> 
		<include file="$(find raposang_gui)/launch/launchV_pnWithBagFiles.launch" /> 
</launch>
