<launch>   
  <!-- ********************* LAUNCH FILE CONFIGURATIONS INSRTUCTIONS FOR THE USER *********************************** -->
  <!-- The user should configure the next features, which means to give relevant names to arguments, or comment the   -->
  <!-- unnecessary inforamtion.                                                                                       -->
  <!-- 1. Names of the recorded (bag) files, if such files exists.                                                    -->
  <!-- 2. The names of the topics, where the compressed images are published:                                         -->
  <!-- 3. The republished topics, where the raw images are republished.                                               -->
  <!-- 4. The names of the parameters.                                                                                -->
  <!-- ************************************************************************************************************** --> 
  
  <!-- *************************************** USER CONFIGURATION AREA ********************************************** -->
  <arg name="bag_file_1" value="2011-12-05-10-55-01.bag"                                                               />
  <arg name="bag_file_2" value="2011-12-05-10-57-22.bag"                                                               />
  <arg name="bag_file_3" value="2011-12-15-14-47-49.bag"                                                               />
  <arg name="bag_file_4" value="2012-01-20-20-01-08.bag"                                                               />
  <arg name="compressed_topic_1" value="/bb2/left/image_rect"                                                          />
  <arg name="republished_topic_1" value="republished_raw_image_topic_name_for_left_camera"                             />
  <arg name="compressed_topic_2" value="/bb2/right/image_rect"                                                         />
  <arg name="republished_topic_2" value="republished_raw_image_topic_name_for_right_camera"                            />
  <arg name="compressed_topic_3" value="/kinect/rgb/image"                                                             />
  <arg name="republished_topic_3" value="republished_raw_image_topic_name_for_kinect"                                  />
  <arg name="compressed_topic_4" value="/camera/depth/image_raw"                                                       />
  <arg name="republished_topic_4" value="republished_raw_image_topic_name_for_kinect_2"                                />    
  <arg name="resizing_factor_arg" value="2.5"                                                                          />
  <arg name="vr" default="0" />
  <!--arg name="republished_topic_5" value="/bb2/left_for_video"                                                         />  
  <arg name="republished_topic_6" value="/bb2/right_for_video"                                                          /-->
  <!-- ************************************************************************************************************** -->
  
  <!-- **************************************** PARAMETERS SETTING AREA ********************************************* --> 
  <param name="resizing_factor" value="$(arg resizing_factor_arg)" type="double"                                       />
  <param name="virtual_pantilt" value="$(arg vr)" type="int"                                                        />      
  <!-- ****************************************** (not for user use) ************************************************ -->
  
  <!-- ********************************************* REMAPPING AREA ************************************************* --> 
  <remap from="leftCameraTopic" to="$(arg republished_topic_1)"                                                        />
  <remap from="rightCameraTopic" to="$(arg republished_topic_2)"                                                       />
  <remap from="kinectCameraTopic" to="$(arg republished_topic_3)"                                                      /> 
  <remap from="kinectDepthCameraTopic" to="$(arg republished_topic_4)"                                                 /> 
  
  <remap from="leftVrPT" to="$(arg republished_topic_1)"                                                        />
  <remap from="rightVrPT" to="$(arg republished_topic_2)"                                                       />   
  <!-- ****************************************** (not for user use) ************************************************ -->
  
  <!-- ****************************************** NODE LAUNCHING AREA  ********************************************** -->
  <!-- Launching first BB2 camera bag file -->
  <node pkg="rosbag" type="rosbag" name="rosbag1" args="play -l $(find raposang_gui)/BagFiles/BB2/$(arg bag_file_1)" required="true"/>

  <!-- Launching second BB2 camera bag file -->
  <node pkg="rosbag" type="rosbag" name="rosbag2" args="play -l $(find raposang_gui)/BagFiles/BB2/$(arg bag_file_2)" required="true"/>  
  
   <!-- Launching kinect camera bag file -->
  <node pkg="rosbag" type="rosbag" name="rosbag3" args="play -l $(find raposang_gui)/BagFiles/Kinect/$(arg bag_file_3)" required="true"/> 
  
   <!-- Launching kinect depth camera bag file -->
  <node pkg="rosbag" type="rosbag" name="rosbag4" args="play -l $(find raposang_gui)/BagFiles/KinectDepth/$(arg bag_file_4)" required="true"/>          

  <!-- Republishing the compressed image to raw image (left camera)-->
  <node name="republish1" type="republish" pkg="image_transport" output="screen" args="compressed in:=$(arg compressed_topic_1) raw out:=$(arg republished_topic_1)" required="true" />
  
  <!-- Republishing the compressed image to raw image (right camera)-->
  <node name="republish2" type="republish" pkg="image_transport" output="screen" args="compressed in:=$(arg compressed_topic_2) raw out:=$(arg republished_topic_2)" required="true"/>
  
  <!-- Republishing the compressed image to raw image (kinect camera)-->
  <node name="republish3" type="republish" pkg="image_transport" output="screen" args="compressed in:=$(arg compressed_topic_3) raw out:=$(arg republished_topic_3)" required="true"/>  
  
  <!-- Republishing the compressed image to raw image (kinect camera)-->
  <node name="republish4" type="republish" pkg="image_transport" output="screen" args="compressed in:=$(arg compressed_topic_4) raw out:=$(arg republished_topic_4)" required="true"/>   

  <!-- Launching subscriber node -->
  <node name="myVideoImageSubscriber" pkg="raposang_gui" type="myVideoImageSubscriber" output="screen" required="true"/>
  
  <!-- ****************************************** (not for user use) ************************************************ -->
</launch>
