<launch>   
  <!-- ********************* LAUNCH FILE CONFIGURATIONS INSRTUCTIONS FOR THE USER *********************************** -->
  <!-- The user should configure the next features, which means to give relevant names to arguments, or comment the   -->
  <!-- unnecessary inforamtion.                                                                                       -->
  <!-- 1. Names of the recorded (bag) files, if such files exists.                                                    -->
  <!-- 2. The names of the topics, where the compressed images are published:                                         -->
  <!-- 3. The republished topics, where the raw images are republished.                                               -->
  <!-- 4. The names of the parameters.                                                                                -->
  <!-- ************************************************************************************************************** --> 
  
  <!-- *************************************** USER CONFIGURATION AREA ********************************************** -->
  <arg name="compressed_topic_1" value="/bb2/left_for_video"                                                      />
  <arg name="republished_topic_1" value="republished_raw_image_topic_name_for_left_camera"                             />
  <arg name="compressed_topic_2" value="/bb2/right_for_video"                                                    />
  <arg name="republished_topic_2" value="republished_raw_image_topic_name_for_right_camera"                            />
  <arg name="compressed_topic_3" value="/camera/rgb/image_color"                                                       />
  <arg name="republished_topic_3" value="republished_raw_image_topic_name_for_kinect"                                  />
  <arg name="compressed_topic_4" value="/camera/depth/image_raw"                                                       />
  <arg name="republished_topic_4" value="republished_raw_image_topic_name_for_kinect_2"                                />    
  <arg name="resizing_factor_arg" value="1.5"                                                                          />
  <arg name="vr" default="0" />
  <!-- ************************************************************************************************************** -->
  
  <!-- **************************************** PARAMETERS SETTING AREA ********************************************* --> 
  <param name="resizing_factor" value="$(arg resizing_factor_arg)" type="double"                                       />   
  <param name="virtual_pantilt" value="$(arg vr)" type="int"                                                        />     
  <!-- ****************************************** (not for user use) ************************************************ -->
  
  <!-- ********************************************* REMAPPING AREA ************************************************* --> 
  <remap from="leftCameraTopic" to="$(arg republished_topic_1)"                                                        />
  <remap from="rightCameraTopic" to="$(arg republished_topic_2)"                                                       />
  <remap from="kinectCameraTopic" to="$(arg republished_topic_3)"                                                      /> 
  <remap from="kinectDepthCameraTopic" to="$(arg republished_topic_4)"                                                 />    
  <!-- ****************************************** (not for user use) ************************************************ -->
  
  <!-- ****************************************** NODE LAUNCHING AREA  ********************************************** --> 
  <!-- Republishing the compressed image to raw image (left camera)-->
  <node name="republish1" type="republish" pkg="image_transport" output="screen" args="compressed in:=$(arg compressed_topic_1) raw out:=$(arg republished_topic_1)" required="true" />
  
  <!-- Republishing the compressed image to raw image (right camera)-->
  <node name="republish2" type="republish" pkg="image_transport" output="screen" args="compressed in:=$(arg compressed_topic_2) raw out:=$(arg republished_topic_2)" required="true"/>
  
  <!-- Republishing the compressed image to raw image (kinect camera)-->
  <node name="republish3" type="republish" pkg="image_transport" output="screen" args="compressed in:=$(arg compressed_topic_3) raw out:=$(arg republished_topic_3)" required="true"/>  
  
  <!-- Republishing the compressed image to raw image (kinect camera)-->
  <node name="republish4" type="republish" pkg="image_transport" output="screen" args="compressed in:=$(arg compressed_topic_4) raw out:=$(arg republished_topic_4)" required="true"/>   

  <!-- Launching subscriber node -->
  <node name="myVideoImageSubscriber" pkg="raposang_gui" type="myVideoImageSubscriber" output="screen" required="true"/>
  
  <!-- ****************************************** (not for user use) ************************************************ -->
</launch>
