<launch>
  <arg name="debug" default="false"/>
  <arg if="$(arg debug)" name="launch_prefix" value="xterm -rv -e gdb -ex run -args"/>
  <arg unless="$(arg debug)" name="launch_prefix" value=""/>
  <node pkg="openni_camera" type="openni_node" name="raposang_kinect" output="screen" launch-prefix="$(arg launch_prefix)">

    <param name="device_id" value="A00362803997051A" />
    <rosparam command="load" file="$(find raposang_launch)/calibration/kinect_openni_params.yaml" />
    
    <param name="rgb_frame_id" value="/openni_rgb_optical_frame" />
    <param name="depth_frame_id" value="/openni_depth_optical_frame" />
    <param name="use_indices" value="false" />
    <param name="depth_registration" value="false" />
    <param name="image_mode" value="2" />
    <param name="depth_mode" value="2" />
    <param name="debayering" value="1" />
    <param name="time_out"	 value="0.0" />
    
    <param name="depth_time_offset" value="0" />
    <param name="image_time_offset" value="0" />
    
  </node>
  <include file="$(find openni_camera)/launch/kinect_frames.launch"/>
</launch>
