<launch>

	<node pkg="raposang_feature" name="raposang_feature" type="raposang_feature_node" output="screen">
		<remap from="input_stereo"    			to="/bb2/triclops/stereo"/>	
  	<remap from="output"          			to="/raposang/features"/>	  	
  	<param name="nr_features_per_frame" type="int"  	value="200" />
		<param name="reads_per_second" 	 		type="int"  	value="30" />
 		<param name="show_window" 	 				type="bool"  value="false" />
 		
 		<param name="nr_tiles_height" 	 	type="int"  	value="2" />		
 		<param name="nr_tiles_width" 	 		type="int"  	value="2" />
 						  
	</node> 	
  
</launch>
