<launch>
	
<!--
	sel=0  : many files
	sel=1  : 1 file
-->

<!-- -->	
	
	
	<!--include file="$(find kinect_driver)/launch/kinect_driver.launch" /-->

	<!--param name="kinect/driver/frame_rate" value="5.0" type="double" /-->	
	<!--include file="$(find openni_camera)/launch/openni_node.launch" /-->
	
	
		
	<node pkg="raposang_icp" name="world_node2" type="world_node2" output="screen">
		<param name="sel" value="0" type="int" />
		
		<param name="filter" value="true"     type="bool"   />
		<param name="leaf_size" value="0.02"  type="double" />   <!--2cm-->
		<param name="key_th" value="20"       type="int"    />
		<param name="th"     value="0.0001"   type="double" />
		<param name="prob"   value="0.999"    type="double" />
		
		<param name="ply_filepath" value="$(find raposang_icp)/../../icp_bags/" type="str" />
		<param name="ply_filename" value="$(find raposang_icp)/../../icp_bags/cloud_world.ply" type="str" />
			
	</node>
	
	
</launch>
